.stepsassistant-element {
  display: block;
  position: relative;
  box-sizing: border-box;
  max-width: 1024px;
  max-height: 768px;
  height: calc(100% - 34px - 15px);
  margin: 0 auto; }
  .stepsassistant-element .step {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    opacity: 0;
    box-sizing: border-box;
    overflow: none; }
    @media (max-height: 480px) {
      .stepsassistant-element .step {
        overflow-y: scroll;
        overflow-x: hidden; } }
  .stepsassistant-element input, .stepsassistant-element select {
    display: block;
    width: 100%;
    max-width: 296px; }
  .stepsassistant-element .progress {
    position: absolute;
    top: 3px;
    width: 100%;
    height: 5px;
    display: block;
    z-index: 1000; }

.stepsassistant-commands {
  position: relative;
  top: 100%; }
  .stepsassistant-commands button {
    float: right;
    margin: 0 4px;
    display: none; }
    .stepsassistant-commands button:not([type="clear"]) {
      margin: 0 15px 0 0; }

.stepsassistant-nextcommand {
  display: none;
  width: auto;
  text-align: center;
  margin: 0 15px;
  box-sizing: border-box;
  text-decoration: none;
  vertical-align: bottom;
  float: right;
  position: relative;
  top: 100%; }
