.mw-alert {
  position: relative;
  border: none;
  padding: 12px 15px;
  min-height: 24px;
  color: #000000; }
  .mw-alert h3.win-h3 {
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 5px;
    margin-top: 1px; }
  .mw-alert p {
    font-size: 14px;
    line-height: 1.23077;
    margin: 0;
    padding: 4px 0 0; }
  .mw-alert .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    line-height: 1;
    opacity: 1;
    height: 48px;
    width: 48px;
    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer; }
    .mw-alert .close span {
      font-size: 16px;
      top: 0;
      position: relative;
      font-family: "Segoe UI",sans-serif,"Segoe MDL2 Assets","Symbols"; }
  .mw-alert .content {
    width: calc(100% - 48px); }
  .mw-alert.mw-alert-success {
    background-color: #21d54a; }
  .mw-alert.mw-alert-info {
    background-color: #007acc;
    color: #000000; }
  .mw-alert.mw-alert-warning {
    background-color: #ff9b00; }
  .mw-alert.mw-alert-danger {
    background-color: #ff1200; }
